body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.timer {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    font-size: 32px; 
}


input#datetime-picker {
    font-size: 16px;
    padding: 8px 12px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}


